body {
    font-family: 'Arial', sans-serif;
    background: url('https://www.example.com/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    text-align: center;
}

h2 {
    
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
 
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
    color: red;
}

li {
    margin-bottom: 10px;
    font-size: 14px;
}
